INCLUDE options/options.makejail

ARG tahoe_tag=%%TAG1%%
ARG tahoe_ajspec=gh+AppJail-makejails/tahoe

FROM --entrypoint "${tahoe_ajspec}" tahoe:${tahoe_tag}

RAW if appjail cmd jexec "${APPJAIL_JAILNAME}" [ ! -f /tahoe/.profile ]; then
        COPY files/profile /tahoe/.profile
        CMD chown tahoe-lafs:tahoe-lafs /tahoe/.profile
RAW fi
